<%
layout("/layouts/platform.html"){
%>
<section class="content-wrap bg-white">
    <header class="header navbar bg-white shadow">
        <div class="btn-group tool-button">
            <a class="btn btn-primary navbar-btn" href="${base}/platform/operate/order" data-pjax id="goback"><i class="ti-angle-left"></i> 返回</a>
        </div>
    </header>
    <div class=panel-body style="padding-top: 50px;">
        <div class="table-responsive no-border">
            <table class="table table-bordered table-striped mg-t datatable">
                <thead>
                <tr>
                    <th>商品id</th>
                    <th>商品名称</th>
                    <th>商品类型</th>
                    <th>商品价格</th>
                    <th>购买数量</th>
                    <th>商户id</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</section>
<div class="cd-panel from-right">
    <header class="cd-panel-header">
        <h4>高级筛选</h4>
    </header>
    <div class="cd-panel-container">
        <div class="cd-panel-content shadow">
            <div class="form-group">
                <label for="orderId">订单号</label>
                <input type="text" id="orderId" name="orderId" onclick="this.value=''" class="form-control" placeholder="订单编号" autofocus value="${orderId!}">
            </div>
            <button id="searchBtn" type="button" class="btn btn-default">查询</button>
        </div>
    </div>
</div>

<!-- 详情 -->
<div id="dialogUserDetail" class="modal fade bs-modal-sm" tabindex="-3" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>
<script language="JavaScript">
    var datatable;
    function initDatatable() {
        datatable = $('.datatable').DataTable({
            "dom": '<"toolbar">frtip',
            "searching":false,
            "processing": false,
            "serverSide": true,
            "select": true,
            "ordering": true,
            "language": {
                "url": "${base}/static/plugins/datatables/cn.json"
            },
            "preDrawCallback": function () {
                sublime.showLoadingbar($(".main-content"));
            },
            "drawCallback": function () {
                sublime.closeLoadingbar($(".main-content"));
            },
            "ajax": {
                "url": "${base}/platform/operate/order/goods/data",
                "type": "post",
                "data": function (d) {
                    d.orderId = $("#orderId").val();
                }
            },
            "order": [[0, "desc"]],
            "columns": [
                {"data": "goodId", "bSortable": true},
                {"data": "goodName", "bSortable": true},
                {"data": "goodType", "bSortable": true},
                {"data": "price", "bSortable": true},
                {"data": "goodsNum", "bSortable": true},
                {"data": "tenantId", "bSortable": true}
            ]
        });
        $("#searchBtn").on('click', function () {
            datatable.ajax.reload();
        });
    }
    $(document).ready(function () {
        initDatatable();
        $("#dialogUserDetail").on("hidden.bs.modal", function () {
            $(this).removeData("bs.modal");
        });
        $("#dialogUserRightDetail").on("hidden.bs.modal", function () {
            $(this).removeData("bs.modal");
        });
        $("#dialogPaasword").on("hidden.bs.modal", function () {
            $(this).removeData("bs.modal");
        });
    });

</script>
<style type="text/css">
    input{vertical-align: text-bottom;}
</style>
<%}%>
