
<div class="modal-body no-p">
    <div class="row">
        <div class="col-xs-12">
            <section class="panel panel-primary no-b">
                <header class="panel-heading clearfix brtl brtr">
                    <div class="overflow-hidden">
                        <a href="javascript:;" class="h4 show no-m pt5">测试组信息</a>
                    </div>
                </header>
                <div class="list-group">
                    <a href="javascript:;" class="list-group-item" title="测试组名称">
                        测试组名称：${obj.groupName!}
                    </a>
                    <a href="javascript:;" class="list-group-item" title="商户名称">
                        商户名称：${obj.tenantName!}
                    </a>
                    <% for (config  in configList){ %>
                    <a href="javascript:;" class="list-group-item" title="开关配置">
                        ${config.switchName!}：${config.switchValue!}
                    </a>
                    <%}%>



                </div>
            </section>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">知道了</button>
</div>

