<%
layout("/layouts/platform.html"){
%>
<section class="content-wrap bg-white">
    <header class="header navbar bg-white shadow">
        <div class="btn-group tool-button">
            <a class="btn btn-primary navbar-btn" href="${base}/platform/tenant/testGroup" id="goback" data-pjax><i
                    class="ti-angle-left"></i> 返回</a>
            <a id="add" class="btn btn-primary navbar-btn" href="${base!}/platform/tenant/testGroup/selectDeviceUser/${testGroupId}"  data-toggle="modal"
               data-target="#dialogSelect_deviceUser"  ><i class="ti-plus"></i> 添加终端</a>

            <button class="btn btn-danger navbar-btn" onclick="removeAll()"><i class="ti-close"></i> 移除选中</button>
        </div>
        <div class="pull-right offscreen-right">
            <button class="btn btn-primary navbar-btn" onclick="sublime.toggleFilter('.cd-panel')"><i
                    class="fa fa-sliders"></i> 筛选
            </button>
        </div>
    </header>
    <div class=panel-body style="padding-top: 50px;">
        <div class="table-responsive no-border">
            <input id="testGroupId" value="${testGroupId}" type="hidden">
            <table class="table table-bordered table-striped mg-t datatable">
                <thead>
                <tr>
                    <th>设备名</th>
                    <th>设备ID</th>
                    <th>设备型号</th>
                    <th>版本号</th>
                    <th>房间号</th>
                    <th>服务IP</th>
                    <th>操作</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</section>
<div class="cd-panel from-right">
    <header class="cd-panel-header">
        <h4>高级筛选</h4>
    </header>
    <div class="cd-panel-container">
        <div class="cd-panel-content shadow">
            <div class="form-group">
                <label for="deviceId">设备ID</label>
                <input type="text" id="deviceId" name="deviceId" onclick="this.value=''" class="form-control" placeholder="设备ID">
            </div>
            <div class="form-group">
                <label for="roomId">房间号</label>
                <input type="text" id="roomId" name="roomId" onclick="this.value=''" class="form-control" placeholder="房间号">
            </div>

            <button id="searchBtn" type="button" class="btn btn-default">查询</button>
        </div>
    </div>
</div>
<!-- 选择终端  -->
<div id="dialogSelect_deviceUser" class="modal fade bs-modal-sm" tabindex="-3" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 1000px;">
        <div class="modal-content" style="width: 1000px;">

        </div>
    </div>
</div>
<!-- 移除 -->
<div id="dialogRemove" class="modal fade bs-modal-sm" tabindex="-2" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">移除</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        移除后无法恢复，确定移除吗？ <br/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                <button id="okDel" type="button" class="btn btn-primary" data-loading-text="正在移除...">确 定</button>
            </div>
        </div>
    </div>
</div>
<!-- 移除选中 -->
<div id="dialogRemoveCheck" class="modal fade bs-modal-lg" tabindex="-2" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">移除</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 mb10">
                        移除后无法恢复，确定移除已选信息吗？
                    </div>
                    <div class="col-xs-12">
                        <ul id="checkedUser" class="list-group"></ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                <button id="ok" type="button" class="btn btn-primary" data-loading-text="正在移除...">确 定</button>
            </div>
        </div>
    </div>
</div>

<script language="JavaScript">
    var datatable;
    function initDatatable() {
        datatable = $('.datatable').DataTable({
            "dom": '<"toolbar">frtip',
            "searching":false,
            "processing": false,
            "serverSide": true,
            "select": true,
            "ordering": true,
            "language": {
                "url": "${base!}/static/plugins/datatables/cn.json"
            },
            "preDrawCallback": function () {
                sublime.showLoadingbar($(".main-content"));
            },
            "drawCallback": function () {
                sublime.closeLoadingbar($(".main-content"));
            },
            "ajax": {
                "url": "${base}/platform/operate/deviceuser/data",
                "type": "post",
                "data": function (d) {
                    d.testGroupId = $('#testGroupId').val();
                    d.deviceId = $('#deviceId').val();
                    d.roomId = $('#roomId').val();
                }
            },
            "order": [[0, ""]],
            "columns": [
                {"data": "deviceSystem", "bSortable": false},
                {"data": "deviceId", "bSortable": false},
                {"data": "deviceModel", "bSortable": false},
                {"data": "versionId", "bSortable": false},
                {"data": "roomId", "bSortable": false},
                {"data": "serverIp", "bSortable": false}
            ],
            "columnDefs": [
                {
                    "render": function (data, type, row) {
                        return '<div class="btn-group"><button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">' +
                                ' <i class="ti-settings"></i> <span class="ti-angle-down"></span></button><ul class="dropdown-menu" role="menu">' +
                                '<li><a href="javascript:;" onclick="del(\'' + row.id + '\')">移除</a></li>' +
                                '</ul></div>';
                    },
                    "targets": 6
                }
            ]
        });
        datatable.on('click', 'tr', function () {
            $(this).toggleClass('selected');
        });
        $("#searchBtn").on('click', function () {
            datatable.ajax.reload();
        });
    }
    
    function del(id) {
        var dialog = $("#dialogRemove");
        dialog.modal("show");
        dialog.find("#okDel").unbind("click");
        dialog.find("#okDel").bind("click", function (event) {
            var btn = $(this);
            btn.button("loading");
            $.post("${base}/platform/operate/deviceuser/updateTestGroup", {ids: id,testGroupId:''}, function (data) {
                if (data.code == 0) {
                    datatable.ajax.reload(null,false);
                } else {
                    Toast.error(data.msg);
                }
                //重置按钮状态，关闭提示框
                btn.button("reset");
                dialog.modal("hide");
            }, "json");
        });
    }
    
    function removeAll() {
        var chks = datatable.rows('.selected').data();
        if (chks.length > 0) {
            var ids = [];
            $.each(chks, function (i, n) {
                ids.push(n.id);
            });
            var dialog = $("#dialogRemoveCheck");
            dialog.modal("show");
            dialog.find("#ok").unbind("click");
            dialog.find("#ok").bind("click", function (event) {
                var btn = $(this);
                btn.button("loading");
                $.post("${base}/platform/operate/deviceuser/updateTestGroup", {ids: ids.toString(),testGroupId:''}, function (data) {
                    if (data.code == 0) {
                        datatable.ajax.reload(null,false);
                    } else {
                        Toast.error(data.msg);
                    }
                    btn.button("reset");
                    dialog.modal("hide");
                }, "json");
            });
        } else {
            Toast.warning("请先选择要移除的信息！");
        }
    }

    $(document).ready(function () {
        initDatatable();
        $("#dialogUserDetail").on("hidden.bs.modal", function () {
            $(this).removeData("bs.modal");
        });
        $("#dialogUserRightDetail").on("hidden.bs.modal", function () {
            $(this).removeData("bs.modal");
        });
        $("#dialogPaasword").on("hidden.bs.modal", function () {
            $(this).removeData("bs.modal");
        });
    });

</script>
<%}%>
