<%
layout("/layouts/platform.html"){
%>
<section class="content-wrap bg-white" style="padding: 0 180px;">
    <!--<header class="header navbar bg-white shadow">-->
    <!--<h3>数据统计概览</h3>-->
    <!--</header>-->
    <div class="col-md-12">
        <h4 class="header-line">概览</h4>
    </div>
    <div class=panel-body style="padding-top: 70px;">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-3">
                <div class="alert alert-info back-widget-set text-center">
                    <i class="fa fa-history fa-5x"></i>
                    <h3>${orderAll !}</h3>
                    <p>订单总量</p>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3">
                <div class="alert alert-success back-widget-set text-center">
                    <i class="fa fa-bars fa-5x"></i>
                    <h3>${published !}</h3>
                    <p>视频总量</p>

                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3">
                <div class="alert alert-warning back-widget-set text-center">
                    <i class="fa fa-recycle fa-5x"></i>
                    <h3>${paid !}</h3>
                    <p>付费总量</p>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3">
                <div class="alert alert-success back-widget-set text-center">
                    <i class="fa fa-bars fa-5x"></i>
                    <h3>${tenantAll !}</h3>
                    <p>商家总量</p>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3">
                <div class="alert alert-info back-widget-set text-center">
                    <i class="fa fa-history fa-5x"></i>
                    <h3>${deviceAll !}</h3>
                    <p>设备总量</p>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3">
                <div class="alert alert-warning back-widget-set text-center">
                    <i class="fa fa-recycle fa-5x"></i>
                    <h3>${paidRate !}%</h3>
                    <p>付费率</p>
                </div>
            </div>
        </div>
        <!--<div class="row">-->
        <!--<div class="col-md-12">-->
        <!--<h3>数据统计总览</h3>-->
        <!--</div>-->
        <!--</div>-->
        <div class="row details">
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">订单 </div>
                    <div class="panel-body form-horizontal">
                        <div class="form-group">
                            <label class="col-md-5 col-sm-5 control-label">累计观看成功订单数：</label>
                            <div class="col-md-7 col-sm-7 text"> 156463 </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 col-sm-5 control-label">新增观看成功订单数：</label>
                            <div class="col-md-7 col-sm-7 text"> 156463 </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 col-sm-5 control-label">累计支付订单数：</label>
                            <div class="col-md-7 col-sm-7 text"> 156463 </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 col-sm-5 control-label">新增支付订单数：</label>
                            <div class="col-md-7 col-sm-7 text"> 156463 </div>
                        </div>
                    </div>
                    <!--<div class="panel-footer">-->
                    <!--Panel Footer-->
                    <!--</div>-->
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">视频数据</div>
                    <div class="panel-body form-horizontal">
                        <div class="form-group">
                            <label class="col-md-5 col-sm-5 control-label">视频播放量：</label>
                            <div class="col-md-7 col-sm-7 text"> 156463 </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 col-sm-5 control-label">专题付费电影播放量：</label>
                            <div class="col-md-7 col-sm-7 text"> 4555 </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 col-sm-5 control-label">分类中付费电影播放量：</label>
                            <div class="col-md-7 col-sm-7 text"> 133 </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 col-sm-5 control-label">播放时长：</label>
                            <div class="col-md-7 col-sm-7 text"> 4325 </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">付费数据</div>
                    <div class="panel-body form-horizontal">
                        <div class="form-group">
                            <label class="col-md-5 col-sm-5 control-label">累计付费电影数：</label>
                            <div class="col-md-7 col-sm-7 text"> 25425 </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 col-sm-5 control-label">新增付费电影数：</label>
                            <div class="col-md-7 col-sm-7 text"> 14235 </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 col-sm-5 control-label">付费电影类别：</label>
                            <div class="col-md-7 col-sm-7 text"> 7688 </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 col-sm-5 control-label">付费电影专题：</label>
                            <div class="col-md-7 col-sm-7 text"> 57567 </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">商家数据</div>
                    <div class="panel-body form-horizontal">
                        <div class="form-group">
                            <label class="col-md-5 col-sm-5 control-label">商家设备数：</label>
                            <div class="col-md-7 col-sm-7 text"> 3545 </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 col-sm-5 control-label">日活跃设备数：</label>
                            <div class="col-md-7 col-sm-7 text"> 34536 </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 col-sm-5 control-label">月活跃设备数：</label>
                            <div class="col-md-7 col-sm-7 text"> 785 </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 col-sm-5 control-label">设备型号：</label>
                            <div class="col-md-7 col-sm-7 text"> 78678 </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">设备数据</div>
                    <div class="panel-body form-horizontal">
                        <div class="form-group">
                            <label class="col-md-5 col-sm-5 control-label">累计启动设备数：</label>
                            <div class="col-md-7 col-sm-7 text"> 567 </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 col-sm-5 control-label">新增启动设备数：</label>
                            <div class="col-md-7 col-sm-7 text"> 23445 </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 col-sm-5 control-label">日活跃设备数：</label>
                            <div class="col-md-7 col-sm-7 text"> 35423 </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 col-sm-5 control-label">月活跃设备数：</label>
                            <div class="col-md-7 col-sm-7 text"> 27854 </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-6 col-sm-6">-->
            <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading">-->
            <!--Danger Panel-->
            <!--</div>-->
            <!--<div class="panel-body">-->
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</section>

<script language="JavaScript">
    $(document).ready(function () {
//        $("aside").addClass("o_hide");
        $("aside").hide();
    });

</script>
<style type="text/css">
    input{vertical-align: text-bottom;}
    .back-widget-set {
        /*background-color: transparent;*/
    }
    h3{
        margin-top: 10px;

    }
    .header-line {
        font-weight: 900;
        height: 45px;
        line-height: 45px;
        border-bottom: 1px solid #eeeeee;
        text-transform: uppercase;
        font-size: 24px;
        color: #595959;
        font-weight: normal;
    }
    .details .panel-heading{
        font-size: 18px;
    }
    .details .panel-body{
        font-size: 14px;
        padding-top: 7px;
    }
    .details .panel-body .text {
        padding-top: 7px;
    }
    .control-label{
        text-align: right;
        font-weight: normal;
        padding-right: 0;
    }
</style>
<%}%>
