<%
var fistMenu = true;
var ppid = pid!;
var menuList = @shiro.getMenuListByParentId(parentId);
for(menu in menuList){
%>
<li   <%if(isEmpty(path)&&fistMenu){%> class="open"  <%}%>>
<a href="javascript:;">
    <i class="toggle-accordion"></i>
    <i class="ti-map"></i>
    <span>${menu.name}</span>
</a>
<ul class="sub-menu" <%if((isEmpty(path)&&fistMenu)||ppid==menu.id){%>  style="display: block;"  <%}%>>
    <%
    var secondMenus = @shiro.getMenuListByParentId(menu.id);
    for(secondMenu in secondMenus){
    %>
    <li>
        <a data-id="${secondMenu.id}" data-pjax=""
           href="<% if(!isEmpty(secondMenu.href)){ %><%if(@string.startWith(secondMenu.href,'/')){%>${base!}${secondMenu.href!}<%}else{%>${secondMenu.href!}<%}%> <% }else{ %>javascript:;<% } %>"
        <%if(@string.startWith(secondMenu.target,'_')){%>target="${secondMenu.target!}"<%}else{%>${secondMenu.target!}<%}%>>
        <span>${secondMenu.name}</span></a>
    </li>
    <%}%>
</ul>
</li>

<%fistMenu = false;}%>
